/*
class names & ids names rules:
1) pm- +
2) LW stands for Loan Worksheet +
3) Section name - camelCase */


/* turned-off number input spinners  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* ********************************/


body {
    font-family: "Open Sans", sans-serif;
}

/* Loan work sheet
---------------------------------
--------------------------------- */



input, textarea, select, button {
  font-family: inherit;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pm-LWlabel {
    font-size: 0.75em;
    float: left;
    font-weight: 600;
}
/* .pm-LWlinks {
    float: right;
    font-size: 0.75em;
    font-weight: bold;
    margin-top: -8%;
    margin-bottom: 18%;
} */

/* Header/title section
--------------------------------- */
.pm-LWheaders {
    font-size: 1.125em;
    color: #262626;
    font-weight: 600;
    line-height: 24px;
    padding-top: 28px;
    padding-bottom: 20px;
}
#pm-LWbitmap {
   float: left;
   font-size: 1.6rem;
   line-height: 72px;
}
.pm-LWtitle {
    margin-left: -15px;
    margin-top: 27px;
    margin-bottom: 9px;
}
.pm-LWheader h1{
    color: #262626;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 17px;
    margin-left: 38px;
    padding-top: 15px;
}
.pm-LW-a-j h2 {
    font-size: 1.125em;
    margin-left: 39px;
    font-weight: 600;
}
.pm-LWheader-a-j {
    color: #262626;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 24px;
    margin-left: 41px;
}

/* Scenario section
--------------------------------- */


/* Property Details (2) section
--------------------------------- */
.pm-LWpropertyMarginLabel {
  margin-top: 3%;
}
.pm-LWpropertyInput {
    width: 12em !important;
    padding: 8px 3px;
    text-align: right;
    margin-left: 0;
    margin-bottom: 10%;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: #fff;
    font-size: 0.875em;
    font-weight: 600;
}
.pm-LWpropertyLink {
    margin-bottom: 7%;
    margin-top: -3%;
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 59%;
  }
.pm-LWborderRight {
    border-right: 1.5px dashed #DDDDDD;
    /* margin-top: 23px; */
    height: 25%;
}
#pm-LWshowProperty a {
    color: #006599;
}

/* Loan Details (2) section
--------------------------------- */
.pm-LWloanInput {
    width: 12em !important;
    padding: 8px 3px;
    text-align: right;
    margin-left: 17%;
    margin-bottom: 2%;
    margin-right: 0;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: #fff;
    font-size: 0.875em;
    font-weight: 600;
}
.pm-LWloanLink {
    margin-bottom: 7%;
    margin-top: 0;
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 76%;
}
.pm-LWmarginLabelLoan {
    margin-top: 5%;
}
#pm-LWshowLoans a {
  color: #006599;
}
#pm-LWcalculate a {
  color: #006599;
}
/* .pm-LWloanDetails input select{
    margin-left: 24px;
} */
.pm-LWborderBottom {
    border-bottom: 1.5px dashed #DDDDDD;
}
.pm-LWcalculateLink {
    margin-bottom: 14%;
    margin-top: 0;
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 91%;
}
/* Borrower section
--------------------------------- */
.pm-LWborrower {
    width: 11.7em !important;
    padding: 8px 3px;
    text-align: right;
    margin-left: -10%;
    margin-bottom: 7%;
    margin-right: 0;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: #fff;
    font-size: 0.875em;
    font-weight: 600;
}
.pm-LWmarginb {
  margin-bottom: 3% !important;
}
  .pm-LWborrowerInput {
  width: 10.3em !important;
  margin-left: -10%;
}
.pm-LWeditLinks {
    float: right;
    position: absolute;
    font-size: 0.75em;
    font-weight: bold;
    padding-right: 0.875em;
    margin-top: -16%;
    margin-left: 58%;
}
#pm-LWborrowerEdit1, #pm-LWborrowerEdit2, #pm-LWborrowerEdit3 {
  color: #006599;
}

/* Summary section
--------------------------------- */

/* Summary Table  */

#removeBorderTop {
  border: 2px solid #fff;
  border-right-width: 0;
  border-left-width: 0;
}
.pm-LWsummaryheader h3 {
    font-size: 1.125em;
    color: #222;
    font-weight: 600;
    line-height: 1.5em;
    padding-bottom: 0.9375em;
    padding-top: 0.6875em;
}
.pm-LWsummaryTable {
    background-color: #DDE3E5;
  	box-shadow: 0 2px 10px 0 rgba(210,210,210,0.5);
    border-radius: 0 4px 4px 0;
    padding: 17px;
}
.pm-LWsummaryTable tr {
    background-color: #FFFFFF;
  	box-shadow: 0 2px 10px 0 rgba(210,210,210,0.5);
    font-size: 0.875em;
}
td[data-type="number"] {
    font-weight: bold;
}
tr:hover {
    background-color: #DDE3E5;
}
#pm-LWtotalRepayment {
    border: 17px solid #DDE3E5;
    border-left-width: 0px;
    border-right-width: 0px;
}

/* media queries
--------------------------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
}

@media(max-height: 805px) {

}
@media (min-width: 1090px) and (max-width:1199px) {
  .pm-LWeditLinks {
    margin-top: -12%;
    margin-left: 73%;
  }
  .pm-LWpropertyInput {
    margin-left: 60%;
  }
  .pm-LWpropertyLink {
    margin-top: -4%;
    margin-left: 85%;
  }
  .pm-LWloanInput {
    margin-left: 108%;
  }
  .pm-LWloanLink {
    margin-top: -3px;
    margin-left: 114%;
  }
  .pm-LWcalculateLink {
    margin-left: 128%;
  }
  .pm-LWborrowerInput {
    margin-left: 22%;
  }
  .pm-LWborrower {
    margin-left: 22%;
  }
}
@media ( max-width: 1090px ) {

  .pm-LWpropertyInput {
    margin-left: -10%;
  }
  .pm-LWpropertyLink {
    margin-left: 56%;
    margin-top: -4%;
  }
  .pm-LWeditLinks {
    margin-top: -12%;
    margin-left: 45%;
  }
  .pm-LWloanInput {
    margin-left: 49%;
  }
  .pm-LWloanLink {
    margin-left: 88%;
  }
  .pm-LWcalculateLink {
    margin-left: 103%;
  }
}
@media ( max-width: 1024px ) {

}

@media ( max-width: 900px ) {
  .pm-LWpropertyInput {
    margin-left: -13%;
  }
  .pm-LWloanInput {
    margin-left: 8%;
  }
  .pm-LWpropertyLink {
    margin-left: 55%;
  }
  .pm-LWloanLink {
    margin-left: 74%;
  }
  .pm-LWcalculateLink {
    margin-left: 90%;
  }
  .pm-LWeditLinks {
    margin-top: -15%;
    margin-left: 63%;
  }
}

@media ( max-width: 768px ) {
  .pm-LWborderRight {
    border-right-width: 0;
  }
  .pm-LWeditLinks {
      margin-top: -14%;
      margin-left: 62%;
  }

}

@media (max-width: 750px) {
  .pm-LWborderRight {
    border-right-width: 0;
  }
  .pm-LWloanLink {
    margin-top: -9px;
  }
  .pm-LWcalculateLink {
    margin-top: -5px;
  }
  .pm-LWpropertyInput {
    margin-left: 103%;
  }
  .pm-LWloanInput {
    margin-left: 142%;
  }
  .pm-LWborrowerInput {
    margin-left: 24%;
  }
  .pm-LWborrower {
    margin-left: 25%;
  }
  .pm-LWeditLinks {
    margin-top: -11%;
    margin-left: 69%;
  }
  .pm-LWpropertyLink {
    margin-left: 102%;
    margin-top: -4%;
  }
  .pm-LWloanLink {
    margin-top: -3px;
    margin-left: 127%;
  }
  .pm-LWcalculateLink {
    margin-top: 1px;
    margin-left: 141%;
  }
}

@media (max-width: 576px) {
  .pm-LWborderRight {
    border-right-width: 0;
  }
  .pm-LWpropertyLink {
    margin-left: 64%;
    margin-top: -4%;
  }
  .pm-LWloanInput {
    margin-left: -12%;
  }
  .pm-LWloanLink {
    margin-left: 68%;
  margin-top: -15px;
  }
  .pm-LWcalculateLink {
    margin-left: 76%;
    margin-top: -12px;
  }
  .pm-LWeditLinks {
    margin-top: -11%;
    margin-left: 62%;
  }
  fieldset {
    min-width: 100%;
  }
  .pm-LWtitle {
    padding-left: 32px;
  }
  .pm-LWloanLink {
    margin-left: 55%;
  }
  .pm-LWloanInput {
    width: 10em !important;
    margin-left: 28%;
}
  .pm-LWlabel {
    margin-top: 7%;
}
  .pm-LWborrower {
      width: 10.3em !important;
  }
  .LWcalculate {
    margin-right: -87px;
  }
  .LWmarginLabel {
    margin-top: 8px;
  }
  .pm-LWmarginLabelLoan {
    margin-top: 11px;
  }
  .pm-LWpropertyBorder {
    border-bottom: 1px dashed #DDD;
  }
  .pm-LWborderRight {
    border: 0px solid #fff;
    margin-top: 0;
  }
  .pm-LWpropertyMarginLabel {
    margin-top: 2%;
  }
  .pm-LWborrowerInput {
    width: 9em !important;
    margin-left: 25%;
  }
  .pm-LWpropertyInput {
    margin-left: 29%;
    width: 10em !important;
  }
}
@media ( max-width: 538px ) {
  .pm-LWborderRight {
    border-right-width: 0;
  }
  .pm-LWeditLinks {
    margin-top: -14%;
    /* margin-left: 41%; */
  }
  .pm-LWloanInput {
    margin-left: -13%;
  }
  .pm-LWloanLink {
    margin-left: 52%;
    margin-top: -12px;
 }
 .pm-LWcalculateLink {
    margin-left: 61%;
  }
  .pm-LWpropertyLink {
    margin-left: 47%;
    margin-top: -4%;
}
@media ( max-width: 475px ) {
  .pm-LWborderRight {
    border-right-width: 0;
  }
  .pm-LWlabel {
      margin-top: 4%;
  }
  .pm-LWloanInput {
    margin-left: 2%;
  }
  .pm-LWborrower {
    margin-left: 3%;
  }
  .pm-LWborrowerInput {
    margin-left: 2%;
  }
  .pm-LWeditLinks {
      margin-left: 52%;
  }
    .pm-LWpropertyLink {
    margin-left: 53%;
  }
  .pm-LWloanLink {
    margin-left: 58%;
    margin-top: -6px;
  }
  .pm-LWcalculateLink {
    margin-left: 69%;
  }
  .pm-LWpropertyInput {
    margin-left: 1%;
  }
  .pm-LWcalculateLink {
    margin-top: 0;
  }
}

@media ( max-width: 376px ) {
  .pm-LWborderRight {
    border-right-width: 0;
  }
  .pm-LWborrowerInput {
    margin-left: -8%;
  }
  .pm-LWborrower {
    margin-left: -8%;
  }
}

@media ( max-width: 360px ) {
  .pm-LWborderRight {
    border-right-width: 0;
  }
  .pm-LWborrower {
    margin-left: -8%;
  }
  .pm-LWpropertyLink {
    margin-left: 50%;
  }
  .pm-LWloanLink {
    margin-left: 59%;
    margin-top: -5px;
  }
  .pm-LWcalculateLink {
    margin-left: 72%;
    margin-top: 0;
  }
  .pm-LWeditLinks {
    margin-left: 57%;
  }
  .pm-LWlabel {
    margin-top: 2%;
  }
  .pm-LWpropertyInput {
    margin-left: -8%;
  }
  .pm-LWloanInput {
    margin-left: -8%;
  }
}
@media (max-width:320px) {
  .pm-LWborderRight {
    border-right-width: 0;
  }
  .pm-LWeditLinks {
  margin-top: -17%;
  margin-left: 60%;
  }
  .pm-LWborderRight {
    border: 0px solid #fff;
    margin-top: 0;
  }
}
